<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jokes</title>
</head>
<body>
<H1>CHUCK NORRIS JOKE!!!</H1>
<P th:text="${joke}">Insert Jokes here!!</P>
</body>
</html>